container_commands:
  01_migration:
    command: "source /opt/python/run/venv/bin/activate && python ladio/manage.py makemigrations auth"
    leader_only: true
  02_migration:
    command: "source /opt/python/run/venv/bin/activate && python ladio/manage.py makemigrations main"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python ladio/manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python ladio/manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python ladio/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ladio.settings"
    "PYTHONPATH": "/opt/python/current/app/ladio:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: ladio/ladio/wsgi.py
    NumProcesses: 3
    NumThreads: 20