
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" ng-controller="NavBarController">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="navbar.goIndex()">LADIO</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">


                <li ng-if="!$root.authenticatedUser">
                    <a ng-click="navbar.goLoginPage()">로그인</a>
                </li>

                <li ng-if="!$root.authenticatedUser">
                    <a ng-click="navbar.goRegisterPage()">가입하기</a>
                </li>

                <li ng-if="$root.authenticatedUser">
                    <a>{$ $root.authenticatedUser["nickname"] $}</a>
                </li>

                <li ng-if="$root.authenticatedUser">
                    <a ng-click="navbar.requestLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>